
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Viewer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            animation: fadeEffect 1s;
        }
        @keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }
    </style>
</head>
<body>
    <div id="loading-indicator" class="progress mt-3" style="display: none;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    
    <div class="container">
        <h1 class="mt-5 text-center">Stock Price Viewer</h1>
        <form id="stock-form" class="mt-3" method="POST" action="{% url 'get_stock_data' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="stock-symbol">Enter Stock Symbol:</label>
                <input type="text" id="stock-symbol" name="symbol" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Get Stock Data</button>
        </form>
        <div class="mt-5" id="stock-data" style="display: none;">
            <h2 class="text-center">Stock Information</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#2b46f6;" id="stock-symbol-display"></h4>
                            <p class="text-muted mb-0">Symbol</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#2b46f6;" id="stock-name"></h4>
                            <p class="text-muted mb-0">Name</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#2b46f6;" id="stock-currency"></h4>
                            <p class="text-muted mb-0">Currency Unit</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#c3348a;" id="stock-price"></h4>
                            <p class="text-muted mb-0">Current Price</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#c3348a;" id="stock-volume"><span data-plugin="counterup">Volume</span></h4>
                            <p class="text-muted mb-0">Volume</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#34c38f;" id="stock-day-high"></h4>
                            <p class="text-muted mb-0">Day High</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#34c38f;" id="stock-day-low"></h4>
                            <p class="text-muted mb-0">Day Low</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#d12b09;" id="stock-previous-close"></h4>
                            <p class="text-muted mb-0">Previous Close</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#d12b09;" id="stock-beta"></h4>
                            <p class="text-muted mb-0">Beta</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style="color:#d12b09;" id="stock-alpha"></h4>
                            <p class="text-muted mb-0">Alpha</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div id="price-plot"></div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div id="percent-change-plot"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#stock-form').on('submit', function(event) {
                event.preventDefault();
                var symbol = $('#stock-symbol').val();
                $('#loading-indicator').show();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'get_stock_data' %}",
                    data: {
                        'symbol': symbol,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('#stock-data').show();
                        $('#stock-symbol-display').text(response.symbol);
                        $('#stock-name').text(response.longName);
                        $('#stock-currency').text(response.currency);
                        $('#stock-price').text(response.regularMarketPrice);
                        $('#stock-volume').text(response.regularMarketVolume);
                        $('#stock-day-high').text(response.regularMarketDayHigh);
                        $('#stock-day-low').text(response.regularMarketDayLow);
                        $('#stock-previous-close').text(response.regularMarketPreviousClose);
                        $('#stock-beta').text(response.Beta);
                        $('#stock-alpha').text(response.Alpha);
                        Plotly.react('price-plot', JSON.parse(response.price_plot).data, JSON.parse(response.price_plot).layout);
                        Plotly.react('percent-change-plot', JSON.parse(response.percent_change_plot).data, JSON.parse(response.percent_change_plot).layout);
                    },
                    error: function(response) {
                        alert('An error occurred: ' + response.responseJSON.error);
                    },
                    complete: function() {
                      // 隐藏加载指示器
                       $('#loading-indicator').hide();
                    }


                });
            });
        });
    </script>
</body>
</html>
