{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Viewer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            animation: fadeEffect 1s;
        }
        @keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Stock Price Viewer</h1>
        <form id="stock-form" class="mt-3" method="POST" action="{% url 'get_stock_data' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="stock-symbol">Enter Stock Symbol:</label>
                <input type="text" id="stock-symbol" name="symbol" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Get Stock Data</button>
        </form>
        <div class="mt-5" id="stock-data" style="display: none;">
            <h2 class="text-center">Stock Information</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-symbol-display"></h4>
                            <p class="text-muted mb-0">Symbol</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-name"></h4>
                            <p class="text-muted mb-0">Name</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-currency"></h4>
                            <p class="text-muted mb-0">Currency Unit</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-right mt-2">
                                <div id="total-investment-chart"></div>
                            </div>
                            <div>
                                <h4 class="mb-1 mt-1">$ <span data-plugin="counterup">{{ totalInvestment | floatformat:2 }}</span></h4>
                                <p class="text-muted mb-0">Total Investment</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-right mt-2">
                                <div id="current-value-chart"></div>
                            </div>
                            <div>
                                <h4 class="mb-1 mt-1" id="current-value">$ <span data-plugin="counterup">Current Value</span></h4>
                                <p class="text-muted mb-0">Current Value</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h4 class="mb-1 mt-1" style="color:#34c38f;" id="unrealized-pnl"><span data-plugin="counterup">Unrealized P&L</span></h4>
                                <p class="text-muted mb-0">Unrealized P&L</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-price"></h4>
                            <p class="text-muted mb-0">Current Price</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" style = "color:#34c38f;" id="stock-volume"><span data-plugin="counterup">Volume</span></h4>
                            <p class="text-muted mb-0">Volume</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-day-high"></h4>
                            <p class="text-muted mb-0">Day High</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-day-low"></h4>
                            <p class="text-muted mb-0">Day Low</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-previous-close"></h4>
                            <p class="text-muted mb-0">Previous Close</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-alpha"></h4>
                            <p class="text-muted mb-0">Alpha</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="mb-1 mt-1" id="stock-beta"></h4>
                            <p class="text-muted mb-0">Beta</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 text-center">
                <h2>Stock Price History</h2>
                <div>
                    <h3>Stock Price</h3>
                    <img id="stock-price-plot" src="" alt="Stock Price History">
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#stock-form').on('submit', function(event) {
                event.preventDefault();
                var symbol = $('#stock-symbol').val();
                $.ajax({
                    url: '{% url "get_stock_data" %}',
                    type: 'POST',
                    data: { symbol: symbol },
                    success: function(data) {
                        $('#stock-symbol-display').text(data.symbol);
                        $('#stock-name').text(data.longName);
                        $('#stock-currency').text(data.currency);
                        $('#stock-price').text(data.regularMarketPrice !== undefined ? data.regularMarketPrice : 'N/A');
                        $('#stock-volume').text(data.regularMarketVolume !== undefined ? data.regularMarketVolume : 'N/A');
                        $('#stock-day-high').text(data.regularMarketDayHigh !== undefined ? data.regularMarketDayHigh : 'N/A');
                        $('#stock-day-low').text(data.regularMarketDayLow !== undefined ? data.regularMarketDayLow : 'N/A');
                        $('#stock-previous-close').text(data.regularMarketPreviousClose !== undefined ? data.regularMarketPreviousClose : 'N/A');
                        $('#stock-alpha').text(data.Alpha !== undefined ? data.Alpha.toFixed(4) : 'N/A');
                        $('#stock-beta').text(data.Beta !== undefined ? data.Beta.toFixed(4) : 'N/A');
                        $('#stock-data').show();
                        $('#stock-price-plot').attr('src', 'data:image/png;base64,' + data.plot);
                    }
                });
            });
        });
        
    </script>
</body>
</html>
